* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #eee;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header bar */
header {
  display: flex;
  align-items: center;
  background-color: #1F2937;
  color: #fff;
  height: 50px;
}

header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

header a {
  font-size: 18px;
  color: #E5E7EB;
}
/* End header bar  */

/* First section  */
.first {
  background-color: #1F2937;
  height: 400px;
  color: #fff;
}

.first .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 200px;
  width: 40%;
}

.right h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  line-height: 45px;
}

right p {
  font-size: 18px;
  color: #E5E7EB;
}

.first img {
  width: 500px;
  height: 200px;
}

.first a {
  background-color: #3882F6;
  width: 95px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 4px;
  text-align: center;
  
}
/* End first section  */

/* Second section */
.second {
  height: 350px;
}

.second h1 {
  text-align: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  padding: 28px 0 28px 0;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.box {
  width: 120px;
  height: 120px;
  border: 2px solid hsl(207, 82%, 56%);
  border-radius: 10px;
}

.box-info {
  margin-top: 5px;
  width: 120px;
  font-size: 14px;
  text-align: center;
}
/* End second section  */

/* Third section  */
.third {
  background-color: #d6d6d6;
  height: 300px;
  padding: 80px;
}

.third .container {
  display: flex;
  width: 42%;
  flex-direction: column;
}

.third p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.third .quote-owner {
  font-size: 24px;
  align-self: flex-end;
  font-style: none;
  font-weight: bold;
  margin-top: 5px;
}
/* End third section  */

/* Fourth section */
.fourth {
  height: 320px;
  display: flex;
  align-items: center;
}

.coa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background-color: #256fe6;
}

.coa h1 {
  font-size: 20px;
  color: #F9FAF8;
}

.coa p {
  color: #E5E7EB;
}

.coa a {
  padding: 5px 35px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
}
/* End fourth section */

/* Footer */
footer {
  background-color: #1F2937;
  height: 60px;
  color: #E5E7EB;
}

footer p {
  align-self: center;
  text-align: center;
}
/* End footer */