* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #eee;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header bar */
header {
  display: flex;
  align-items: center;
  background-color: #1F2937;
  color: #fff;
  height: 50px;
}

header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

header a {
  font-size: 18px;
  color: #E5E7EB;
}
/* End header bar  */

/* First section  */
.first {
  background-color: #1F2937;
  height: 400px;
  color: #fff;
}

.first .container {
  display: flex;
  justify-content: center;
}

.first img {
  width: 500px;
  height: 200px;
}
/* End first section  */