* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #eee;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header bar */
header {
  display: flex;
  align-items: center;
  background-color: #1F2937;
  color: #fff;
  height: 50px;
}

header h1 {
  font-size: 24px;
  color: #F9FAF8;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

header a {
  font-size: 18px;
  color: #E5E7EB;
}
/* End header bar  */

/* First section  */
.first {
  background-color: #1F2937;
  height: 400px;
  color: #fff;
}

.first .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 200px;
  width: 40%;
}

.right h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  line-height: 45px;
}

right p {
  font-size: 18px;
  color: #E5E7EB;
}

.first img {
  width: 500px;
  height: 200px;
}

.first a {
  background-color: #3882F6;
  padding: 95px;
  border-radius: 7px;
  text-align: center;
  
}
/* End first section  */